<div class="container">
    <div class="row">
        <div class="card">
            <div class="text-center">
                <h1>Sign Up</h1>
                <h6>Register YourShelf</h6>
            </div>
            <form [formGroup]="signupForm">
                <div class="mb-3">
                    <label for="fullName" class="form-label">FullName</label>
                    <input type="text" formControlName="fullName" class="form-control" id="fullName"/>
                </div>
                <div class="mb-3">
                    <label for="mobile" class="form-label">mobile</label>
                    <input type="text" formControlName="mobile" class="form-control" id="mobile"/>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mots de passe</label>
                    <input type="password" formControlName="password" class="form-control" id="password" />
                </div>
                <button type="submit" class="btn btn-success" (click)="signup()">Sign up</button>
            </form>
            <p class="mt-3">If you have  account <a routerLink="/">click Here</a></p>
        </div>
    </div>
</div>